@model InvestmentManagement.Models.GridModel<InvestmentManagement.InvestmentManagement.Models.SCRIPTTRANSFER>

<div id="replace">

    <div class="contentTop">
        <span class="pageTitle">
            <span class=" glyphicon glyphicon-yen"></span>
            @Session["currentPage"]
        </span>
            <script>

                $(document).ready(function () {
                    $(function () {
                        $(".inputArea").datepicker({ dateFormat: formatDate('long') });
                        $('.inputArea').datepicker('setDate', new Date());
                    });
                });
</script>
    </div>
    <ol class="breadcrumb">
        @Html.Raw(@ViewBag.BreadCum)
    </ol>
 <div class="wrapper pl">
         <img class="loadingImage" src="~/Images/loading.gif" style="display:none;" />
        <div class="alert alert-success mt20">
            <button class="close" data-dismiss="alert" type="button">×</button>
            <strong>Info !</strong>
            @ViewBag.Message 
        </div>
        <div class="container-fluid Grid-Container">



            <div class="widget mb20">
                <div class="whead">
                     <h6>@Session["currentPage"]</h6>
                     <select id="ddlPageSize">                                
                                <option selected="selected">15</option>
                                <option>50</option>
                                <option>100</option>
                            </select>
                    <h6 style="float:right">Select Row Count</h6>
                   <div class="clear"></div>
                </div>

                <div class="formRow dgHeaderBk">
                    <div class="container-fluid">
                        <div class="col-md-12">
                            @using (Html.BeginForm("ListScriptTransfer", "ScriptTransfer", FormMethod.Get))
                            {
                                
                                <div class="row">
                                    <div class="col-md-3">
                                     Search Date   <input type="text" id="CreatedDate" class="inputArea" name="CreteadDate" />
                                    </div>
                                    <div class="col-md-5">
                                    @Html.DropDownList("TRANSACTIONTYPE", new List<SelectListItem>
                                    {
                                        new SelectListItem{ Text="Received", Value = "R" },
                                        new SelectListItem{ Text="Delivery", Value = "D" }, 
                                        //new SelectListItem{ Text="Buy Order", Value = "B" }, 
                                        //new SelectListItem{ Text="Sale Order", Value = "S" },
                                        //new SelectListItem{ Text="Fraction Received", Value = "F" },                                
                                     }, "Select Transaction Type", new { @class = "control-label entrylable drpResize" })
                                    </div>
                                    <div class="col-md-1">
                                        <input type="button" id="btn" class="btn btn-primary dgBtn" value="Apply" />
                                    </div>
                                </div>
                             }

                        </div>
               


                        <div class="row">
                            <div class="col-md-4 col-sm-4">
                                <div class="form-group">
                                    <div class="col-sm-8">
                                @if (Request.RawUrl.Contains("X-Requested-With=XMLHttpRequest") || Request.AcceptTypes.Contains("*/*"))
                                {
                                @Ajax.ActionLink("Add", "AddScriptTransfer", "ScriptTransfer",
                                new AjaxOptions() { UpdateTargetId = "replace", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnBegin = "ShowProcessingMsg", OnSuccess = "HideProcessingMsg" }, new { @class = "btn btn-success" })
                                }
                                else
                                {
                                <a class=" load btn btn-success m10" role="menuitem" tabindex="-1" href="~/#/ScriptTransfer/AddScriptTransfer">Add</a>
                                }
                                    </div>
                                </div>
                            </div>
                        </div>




                    </div>
                </div>
                
               <script>
                    function ChkAddClass() {
                       
                        var dir = $('#dir').val();
                        var col = $('#col').val().replace(/\s/g, '');
                       //alert(col);
                        
                        var header = $('th a[href*='+col+']');
                        //alert(header.text());
                        var countTh = document.getElementsByTagName('th').length;


                        for (var i = 1; i <= countTh; i++) {

                            var txtTh = $('.ASPGrid tr th:nth-child(' + i + ')').text().replace(/\s/g, '');
                            
                            if (txtTh.trim().toLowerCase() == col.toLowerCase() && dir.trim() == 'Ascending') {
                                //alert("");
                                //alert(txtTh + "" + col);
                                $(".ASPGrid tr th").addClass("sorting");

                                $('.ASPGrid tr th:nth-child(' + i + ')').addClass("ascending");
                           

                            }

                            else if (txtTh.trim().toLowerCase() == col.toLowerCase() && dir.trim() == 'Descending') {
                                //alert(txtTh + "" + col);
                                $(".ASPGrid tr th").addClass("sorting");

                                $('.ASPGrid tr th:nth-child(' + i + ')').addClass("descending");
                            

                            }
                        }

                        $(".inputArea").datepicker("destroy");
                        $(".inputArea").removeClass("hasDatePicker");
                        $(".inputArea").removeAttr("Disabled");
                        $(".inputArea").datepicker({ dateFormat: formatDate('long') });
                        jQuery.datepicker.dpDiv.appendTo(jQuery('body'));
                        //$("select,.check :checkbox").not("#ddlPageSize").uniform();

                        //$('.selector').not("#ddlPageSize").addClass('pull-right');
                        //$('.checker').not("#ddlPageSize").addClass('dataGridCheckBox');
                    }
                </script>
       <div id="PortfolioWebGrid" class="formRow noPad btbNone tScroll">
             @{
                WebGrid grid = new WebGrid(rowsPerPage: Model.RowsPerPage, ajaxUpdateContainerId: "PortfolioWebGrid", ajaxUpdateCallback: "ChkAddClass", sortFieldName: "sortdefault");
                grid.Bind(Model.DataModel, autoSortAndPage: false, rowCount: Model.RowsPerPage);
				
                @grid.Table(columns: new[] {
              
                grid.Column(header:"Sl No",style:"textColumn", format:@<text><div>@(item.WebGrid.Rows.IndexOf(item) + 1)</div></text>),
                
                grid.Column("ENTRYDATE",format:@<text>@(@item.ENTRYDATE ==null?"":string.Format("{0:dd MMM yyyy}", item.ENTRYDATE ))</text>, style:"textColumn",header:"Transaction Date"),
                grid.Column("ACCOUNTNUMBER",format:@<text>@item.ACCOUNTNUMBER</text>, style:"textColumn",header:"A/C Number"), 
                
                //grid.Column("CREATEDDATE",format:@<text>@(@item.CREATEDDATE==null?"":string.Format("{0:dd MMM yyyy}", item.CREATEDDATE))</text>, style:"textColumn",header:"Created Date"),
                
                grid.Column("INSTRUMENT.NAME",format:@<text>@item.INSTRUMENT.NAME (@item.INSTRUMENT.SHORTNAME)</text>, style:"textColumn",header:"Instrument"),  
                
                grid.Column("TRANSACTIONTYPE",format:@<text>@(item.TRANSACTIONTYPE=="R"?"Received":item.TRANSACTIONTYPE=="D"?"Delivery":item.TRANSACTIONTYPE=="B" ? "Buy Order":item.TRANSACTIONTYPE=="S" ? "Sale Order":item.TRANSACTIONTYPE=="F"?"Fraction Received":"")</text>, style:"textColumn",header:"Type"),
               
                grid.Column("CERTIFICATENO",format:@<text>@item.CERTIFICATENO</text>, style:"textColumn",header:"Certificate Number"), 
                grid.Column("HOWLANUMBER",format:@<text>@item.HOWLANUMBER</text>, style:"numericColumn",header:"Number"),                
                
                grid.Column("SHAREQTY", format:@<text>@item.SHAREQTY.ToString("N")</text>, style:"numericColumn",header:"Quantity"), 
                grid.Column("RATE", format:@<text>@item.RATE.ToString("N")</text>, style:"numericColumn",header:"Rate"),                 
                
                //grid.Column("TOTAL", format:@<text>@(item.TOTAL==null?"":item.TOTAL.ToString("N"))</text>, style:"numericColumn",header:"Total"),                 
                
                //grid.Column("RECORDDATE",format:@<text>@(@item.RECORDDATE ==null?"":string.Format("{0:dd MMM yyyy}", item.RECORDDATE ))</text>, style:"textColumn",header:"Record Date"),
               
                
                grid.Column(header: "",  format:@<text>
                <div class="btn-group dropdown bdrNone">
                 <a href="#" class="tablectrl_medium bDefault" data-toggle="dropdown"><span class="iconb" data-icon=""></span></a>
                   <ul class="dropdown-menu pull-right cMbdr cMenu">
                      <li>
                      @if (Request.RawUrl.Contains("X-Requested-With=XMLHttpRequest") || Request.AcceptTypes.Contains("*/*"))
                      {  
                      @Ajax.ActionLink("Edit", "EditScriptTransfer", "ScriptTransfer",new {Ref=@item.REFERENCE},
                      new AjaxOptions() { UpdateTargetId = "replace", InsertionMode = InsertionMode.Replace, HttpMethod = "GET",OnBegin = "ShowProcessingMsg", OnSuccess = "HideProcessingMsg" })
                      }
                      else
                      {
                      <a class="load" role="menuitem" tabindex="-1" href="~/#/ScriptTransfer/EditScriptTransfer?Ref=@item.REFERENCE">Edit</a>
                      }
                   </li>
                 </ul>
               </div>
                        </text>)
                },
                
               
                
                tableStyle: "ASPGrid",
                htmlAttributes: new { cellspacing = "0", border = "0" },
                
                footer: @<ul class="pagination">
  
     </ul>

                );
                        @Html.Hidden("dir", grid.SortDirection)
                        @Html.Hidden("col", grid.SortColumn)
                    }
                </div>
                        @*@if (Request.RawUrl.Contains("X-Requested-With=XMLHttpRequest") || Request.AcceptTypes.Contains("*/*"))
                        {
                        @Ajax.ActionLink("Add", "AddScriptTransfer", "ScriptTransfer",
                        new AjaxOptions() { UpdateTargetId = "replace", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnBegin = "ShowProcessingMsg", OnSuccess = "HideProcessingMsg" }, new { @class = "btn btn-success" })
                        }
                        else
                        {
                        <a class=" load btn btn-success m10" role="menuitem" tabindex="-1" href="~/#/ScriptTransfer/AddScriptTransfer">Add</a>
                        }*@

            </div>
            <div class="clear"></div>

                        

        </div>

    </div>

</div>


<script type="text/javascript">
    $(document).ready(function () {
        $(".ASPGrid tr th").addClass("sorting");
       

        $('.not-active').bind('click', false);

        $('#btn').on('click', function () {
            $('.loadingImage').show();
           
            var filterstring = $('#CreatedDate').val();
            $.get("/ScriptTransfer/ListScriptTransfer?CreatedDate=" + $('#CreatedDate').val() + "&rows=" + $("#ddlPageSize").val() + "&TRANSACTIONTYPE=" + $("#TRANSACTIONTYPE").val() + "", function (data) {
                var getHTML = $(data);
                $('#PortfolioWebGrid').empty();

                $('#PortfolioWebGrid').html($('#PortfolioWebGrid', getHTML));
                ChkAddClass();
                $('.loadingImage').hide();
            });
     });

               
    });

</script>


<script>
    $(document).on('keypress', '.number', function (event) {

        if (event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9) {
            // let it happen, don't do anything
        } else if ((event.which < 48 || event.which > 57)) {
            event.preventDefault();
        }

    });
    $(document).on('keypress', '.decimal', function (event) {

        if (event.keyCode == 46 || event.keyCode == 8 ||event.keyCode==9) {
            // let it happen, don't do anything
        } else if ((event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
            event.preventDefault();
        }

    });

</script>

<script type="text/javascript">
    function ShowProcessingMsg() {

        $('.loadingImage').show();

    }
    function HideProcessingMsg() {
        $('.loadingImage').hide();
    }

</script>

    <script>

        $(document).ready(function () {
            $(function () {

                $("#txtCode").datepicker({ dateFormat: 'dd-M-yy', });
                $('#txtCode').datepicker('setDate', new Date());

            });

        });
</script>



