@model InvestmentManagement.InvestmentManagement.Models.TEST



<div id="Replace">
    <div class="contentTop">
        <span class="pageTitle">
            <span class=" glyphicon glyphicon-yen"></span>
          @Session["currentPage"]
        </span>

    </div>
 <ol class="breadcrumb">
       @Html.Raw(@ViewBag.BreadCum)
    </ol>
<div class="wrapper pl">
    <div class="alert alert-success mt20">
        <button class="close" data-dismiss="alert" type="button">×</button>
         @ViewBag.Message
    </div>
    <div class="container-fluid">

        <div class="widget col-md-5">
            <div class="whead">
                <h6>
                    <label id="lblHeader" title="">@ViewBag.Header</label>
                </h6>
                <div class="clear">
                </div>
            </div>
@using (Ajax.BeginForm("EditTest", "Test", new AjaxOptions { HttpMethod = "POST", InsertionMode = System.Web.Mvc.Ajax.InsertionMode.Replace, UpdateTargetId = "Replace", OnBegin = "ShowProcessingMsg", OnSuccess = "HideProcessingMsg" }, new { autocomplete = "off" }))
{
            <div class="">
 <ul class="entryForm singleadd">
      <li class="form-group">
      
           @Html.Hidden("ID", @Model.ID)
           
            @Html.LabelFor(model => model.NAME,new {@class="control-label entrylable"})
               
            @Html.TextBoxFor(model => model.NAME,new {@class="form-control",@placeholder="Please Enter Your "+@Html.DisplayNameFor(model => model.NAME)+"",@onfocus="this.placeholder = ''", @onblur="this.placeholder = '"+@Html.DisplayNameFor(model => model.NAME)+"'"})
	   
          <br />
	    @Html.ValidationMessageFor(model => model.NAME) 
       
	   </li>
      <li class="form-group">
           
            @Html.LabelFor(model => model.EMAIL,new {@class="control-label entrylable"})		       
        

            @Html.TextBoxFor(model => model.EMAIL,new {@class="form-control",@placeholder="Please Enter Your "+@Html.DisplayNameFor(model => model.EMAIL)+"",@onfocus="this.placeholder = ''", @onblur="this.placeholder = '"+@Html.DisplayNameFor(model => model.EMAIL)+"'"})		
     
 <br />
	    @Html.ValidationMessageFor(model => model.EMAIL) 
       
	   </li>
       </ul>
             <button type="submit" class="btn btn-success btnSingleAddForm">Save</button>
                <a class="load btn btn-danger closeButton" href="~/#/Test/ListDepartment?lblbreadcum=">Close</a> 
      
            </div>


}

        </div>


    </div>
</div>
    <p></p>


    <script type="text/javascript">
        function ShowProcessingMsg() {

            $('.loadingImage').show();

        }
        function HideProcessingMsg() {
            $('.loadingImage').hide();
        }

    </script>
<script>

    $(function () {
        $('.datepicker').datepicker({ dateFormat: "dd/mm/yy" });
       
    

    });

</script>

           <script type="text/javascript">
               $(".load").click(function () {
                   $(".loadingImage").show();
                   var link = $(this).attr("href");
                   debugger;
                   $.get('<%= Url.Action(' + link + ') %>', {},
                       function (data) {
                           $('#result').html(data);
                           $('.loadingImage').hide();
                       });
               });

    </script>

</div>
