@model InvestmentManagement.InvestmentManagement.Models.APPLICATIONPARAMETERDETAIL




<div id="Replace">
    <div class="contentTop">
        <span class="pageTitle">
            <span class=" glyphicon glyphicon-yen"></span>
          @Session["currentPage"]
        </span>

    </div>
   <ol class="breadcrumb">
       <li> <a class="load" role="menuitem" tabindex="-1" href="~/#/Home/Index?lblbreadcum=@Session["PreviousPage"]">Dashboard</a></li>
       <li><a class="load" href="~/#/Settings/Settings?lblbreadcum=Settings">Settings</a></li>
           <li>
           <a class="load" href="~/#/ApplicationParameterDetails/ListApplicationParameterDetails?lblbreadcum=">@Session["currentPage"]</a>
      </li>
       @* <li>@Ajax.ActionLink((string)Session["currentPage"], "ListAPPLICATIONPARAMETERDETAIL", "APPLICATIONPARAMETERDETAIL",


    new AjaxOptions() { UpdateTargetId = "replace", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnBegin = "ShowProcessingMsg", OnSuccess = "HideProcessingMsg" })</li>*@
     
        <li class="active">@ViewBag.breadcum</li>
    </ol>
<div class="wrapper pl">
    <div class="alert alert-success mt20">
        <button class="close" data-dismiss="alert" type="button">×</button>
         @ViewBag.Message
    </div>
    <div class="container-fluid">

        <div class="widget col-md-5">
            <div class="whead">
                <h6>
                    <label id="lblHeader" title="">@ViewBag.breadcum</label>
                </h6>
                <div class="clear">
                </div>
            </div>
@using (Ajax.BeginForm("AddApplicationParameterDetails", "ApplicationParameterDetails", new AjaxOptions { HttpMethod = "POST", InsertionMode = System.Web.Mvc.Ajax.InsertionMode.Replace, UpdateTargetId = "Replace", OnBegin = "ShowProcessingMsg", OnSuccess = "HideProcessingMsg" }, new { autocomplete = "off" }))
{
            <div class="">
 <ul class="entryForm singleadd">
   
     @Html.Hidden("APPLICATIONPARAMETER_REFERENCE",(string)ViewBag.reference)
    
     
     @* <li class="form-group">
           
            @Html.LabelFor(model => model.APPLICATIONPARAMETER_REFERENCE,new {@class="control-label entrylable"})
			
        
        <br />

           
		     @Html.DropDownListFor(model => model.APPLICATIONPARAMETER_REFERENCE, (SelectList)ViewBag.applicationParameterList, "Select a list", new { @class = "control-label entrylable drpResize" })
     <br />
	    @Html.ValidationMessageFor(model => model.APPLICATIONPARAMETER_REFERENCE) 
       
	   </li>*@
      <li class="form-group">
           
            @Html.LabelFor(model => model.DESCRIPTION,new {@class="control-label entrylable"})
			
        
        

            @Html.TextBoxFor(model => model.DESCRIPTION,new {@class="form-control",@placeholder="Please Enter Your "+@Html.DisplayNameFor(model => model.DESCRIPTION)+"",@onfocus="this.placeholder = ''", @onblur="this.placeholder = '"+@Html.DisplayNameFor(model => model.DESCRIPTION)+"'"})
		
     <br />
	    @Html.ValidationMessageFor(model => model.DESCRIPTION) 
       
	   </li>
            <li class="form-group">
           
            @Html.LabelFor(model => model.CODE,new {@class="control-label entrylable"})
			
        
        

            @Html.TextBoxFor(model => model.CODE,new {@class="form-control",@placeholder="Please Enter Your "+@Html.DisplayNameFor(model => model.CODE)+"",@onfocus="this.placeholder = ''", @onblur="this.placeholder = '"+@Html.DisplayNameFor(model => model.CODE)+"'"})
		
     <br />
	    @Html.ValidationMessageFor(model => model.CODE) 
       
	   </li>
      <li class="form-group">
           
            @Html.LabelFor(model => model.ISHIDDEN,new {@class="control-label entrylable"})
			
       @* <br />*@
         <input type="checkbox"  name="ISHIDDEN" value="true" id="chkIsHidden" />

@*            @Html.TextBoxFor(model => model.ISHIDDEN,new {@class="form-control",@placeholder="Please Enter Your "+@Html.DisplayNameFor(model => model.ISHIDDEN)+"",@onfocus="this.placeholder = ''", @onblur="this.placeholder = '"+@Html.DisplayNameFor(model => model.ISHIDDEN)+"'"})*@
		
     <br />
	    @Html.ValidationMessageFor(model => model.ISHIDDEN) 
       
	   </li>
      <li class="form-group">
           
            @Html.LabelFor(model => model.ISACTIVE,new {@class="control-label entrylable"})
			
        
        
            @* <br />*@
          <input type="checkbox"   name="ISACTIVE" value="true" id="chkIsActive"  />
@*            @Html.TextBoxFor(model => model.ISACTIVE,new {@class="form-control",@placeholder="Please Enter Your "+@Html.DisplayNameFor(model => model.ISACTIVE)+"",@onfocus="this.placeholder = ''", @onblur="this.placeholder = '"+@Html.DisplayNameFor(model => model.ISACTIVE)+"'"})*@
		
     <br />
	    @Html.ValidationMessageFor(model => model.ISACTIVE) 
       
	   </li>
      <li class="form-group">
           
            @Html.LabelFor(model => model.ISDEFAULT,new {@class="control-label entrylable"})
			
        
          @* <br />*@
          <input type="checkbox"   name="ISDEFAULT" value="true" id="chkIsDefault"  />

@*            @Html.TextBoxFor(model => model.ISDEFAULT,new {@class="form-control",@placeholder="Please Enter Your "+@Html.DisplayNameFor(model => model.ISDEFAULT)+"",@onfocus="this.placeholder = ''", @onblur="this.placeholder = '"+@Html.DisplayNameFor(model => model.ISDEFAULT)+"'"})*@
		
     <br />
	    @Html.ValidationMessageFor(model => model.ISDEFAULT) 
       
	   </li>
                        </ul>
             <button type="submit" class="btn btn-success btnSingleAddForm">Save</button>
              <a class="load btn btn-danger closeButton" href="~/#/ApplicationParameterDetails/ListApplicationParameterDetails?lblbreadcum=">Close</a>
      
            </div>


}

        </div>


    </div>
</div>
    <p></p>


    <script type="text/javascript">
        function ShowProcessingMsg() {

            $('.loadingImage').show();

        }
        function HideProcessingMsg() {
            $('.loadingImage').hide();
        }

    </script>
<script>

    $(function () {
        $('.datepicker').datepicker({ dateFormat: "dd-M-yy" });
       

    });

</script>

<script>
    $(document).on('keypress', '.number', function (event) {

        if (event.keyCode == 46 || event.keyCode == 8) {
            // let it happen, don't do anything
        } else if ((event.which < 48 || event.which > 57)) {
            event.preventDefault();
        }

    });
    $(document).on('keypress', '.decimal', function (event) {

        if (event.keyCode == 46 || event.keyCode == 8) {
            // let it happen, don't do anything
        } else if ((event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
            event.preventDefault();
        }

    });


</script>

</div>

